@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "BYDFont";
  src: url("./assets/fonts/Conthrax-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, #dedede 10%, #04113f 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #000000b3;
  z-index: 1;
}

/* Teks Loading di Tengah */
.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  z-index: 2;
  animation: blink 1s step-start infinite;
}

/* Animasi Blink */
@keyframes blink {
  50% {
    opacity: 0.2;
  }
}

/* Animasi Loader Muter */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 4px rgba(0, 255, 136, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 12px rgb(26, 255, 0));
  }
  100% {
    filter: drop-shadow(0 0 4px rgba(0, 255, 136, 0.4));
  }
}

.animate-glow {
  animation: glowPulse 1.5s ease-in-out infinite;
}

/* --- Efek glow lembut (aktif) --- */
@keyframes glowPulseModel {
  0% {
    box-shadow: 0 0 10px rgba(59, 59, 59, 0.3), 0 0 20px rgba(59, 59, 59, 0.3);
  }
  50% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8), 0 0 50px rgba(0, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 10px rgba(59, 59, 59, 0.3), 0 0 20px rgba(59, 59, 59, 0.3);
  }
}

.glow-pulse {
  animation: glowPulseModel 2s ease-in-out infinite;
}

/* --- Efek flash ketika diklik --- */
@keyframes flashGlow {
  0% {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0);
    filter: brightness(1);
  }
  30% {
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.9);
    filter: brightness(1.6);
  }
  100% {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0);
    filter: brightness(1);
  }
}

.flash-glow {
  animation: flashGlow 0.6s ease-out;
}
